.container {
}
.wrapper {
}
.top {
}
.bottom {
	padding: 50px 7vw;
}
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	display: flex;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
	flex-direction: column;
	width: 320px;
	border-radius: 5px;
	margin: 20px auto;
}
.imageContainer {
	position: relative;
	height: 170px;
}
.imageContainer img{
	object-fit: cover;
}
.details {
	flex: 1;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.details h2 {
	font-weight: 100;
	font-size: 15px;
}
.details p {
	font-family: sans-serif;
	font-size: 13px;
	color: gray;
	margin: 10px 0;
}
.amountContainer {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: orange;
}
.button {
	border: 1px solid orange;
	font-weight: 100;
	padding: 5px 20px;
	border-radius: 30px;
	cursor: pointer;
}

@media only screen and (max-width: 850px) {
	.bottom {
		padding: 20px 3vw;
	}
	.card {
		width: 270px;
	}
	.imageContainer{
		height: 140px;;
	}
	.details{
		padding: 10px;
	}
}
@media only screen and (max-width:600px){
	.card{
		width:45vw;
	}
	.imageContainer{
		height: 120px;;
	}
	.details{
		padding: 7px;
	}
	.details h2{
		font-size: 12px;
	}
	.details p {
		font-size: 10px;
	}
	.amountContainer h3{
		font-size: 12px;
	}
	.button{
		font-size: 9px;
		padding: 3px 10px;
	}
}
